body {
    background-color: #80aaff;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

h2 {
    margin-top: 35px;
    margin-bottom: 60px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}